link(
	rel="stylesheet",
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
)
link(rel="preconnect", href="https://fonts.gstatic.com")
link(
	href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700&display=swap",
	rel="stylesheet"
)
link(rel='stylesheet' href='./search-results.css') 
.results-container
	.card-container
		.row1
			img.card-img(
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3icwVz064vy5N7FcSCHlDn6wdBLe3hPYeCg&usqp=CAU"
			)
			.fas.fa-heart.bookmark
		.row2
			strong Job Title
			.muted-text1.company-name Company Name
			.muted-text2.company-location Location
			p.job-desc.muted-text Hello, I need an employee, i need anHello, I need an employee, i need an employeeHello, I need an employee, i need an
		.row3
			div 
				center Full Time
			div 
				center 2 days ago
			div 
				center 
					strong Rs. 100,000
		.row4
			button.apply Apply Now
			button.info More Info

	.card-container
		.row1
			img.card-img(
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3icwVz064vy5N7FcSCHlDn6wdBLe3hPYeCg&usqp=CAU"
			)
			.fas.fa-heart.bookmark
		.row2
			strong Job Title
			.muted-text1.company-name Company Name
			.muted-text2.company-location Location
			p.job-desc.muted-text Hello, I need an employee, i need anHello, I need an employee, i need an employeeHello, I need an employee, i need an
		.row3
			div 
				center Full Time
			div 
				center 2 days ago
			div 
				center 
					strong Rs. 100,000
		.row4
			button.apply Apply Now
			button.info More Info
	.card-container
		.row1
			img.card-img(
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3icwVz064vy5N7FcSCHlDn6wdBLe3hPYeCg&usqp=CAU"
			)
			.fas.fa-heart.bookmark
		.row2
			strong Job Title
			.muted-text1.company-name Company Name
			.muted-text2.company-location Location
			p.job-desc.muted-text Hello, I need an employee, i need anHello, I need an employee, i need an employeeHello, I need an employee, i need an
		.row3
			div 
				center Full Time
			div 
				center 2 days ago
			div 
				center 
					strong Rs. 100,000
		.row4
			button.apply Apply Now
			button.info More Info
